html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-family: STHeitiSC-Light;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
form,
fieldset,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  font-family: arial, sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins,
a {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: inline-block;
}

input,
textarea {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
}

* {
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
}

/*html {
    font-size: $browser-default-font-size;
}*/
html {
  font-size: 37.5px;
}

html,
body {
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
  position: relative;
}

header {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  width: 100%;
  border-bottom: 1px solid #ccc;
  height: 1.33333rem;
  line-height: 1.33333rem;
  -webkit-align-items: center;
  align-items: center;
}

header > span {
  width: 1.33333rem;
  text-align: center;
}

header > div {
  padding: 0 0.53333rem;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  background: #f8f7f6;
  height: 0.93333rem;
  margin-left: 0.53333rem;
  line-height: 0.93333rem;
  border-radius: 1.33333rem;
}

header > div i.icon {
  font-size: 0.48rem;
  margin-left: 0.53333rem;
}

section {
  width: 100%;
  overflow: hidden;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-direction: column;
  flex-direction: column;
}

section .list {
  width: 100%;
  height: 1.2rem;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

section .list li {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  font-size: 0.34667rem;
}

section .list li.active {
  color: red;
  border-bottom: 2px solid red;
}

section .swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

section .swiper-container .swiper-slide {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

section .swiper-container .swiper-slide .con {
  width: 100%;
  overflow: hidden;
}

section .swiper-container .swiper-slide .con .div {
  width: 100%;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

section .swiper-container .swiper-slide .con .div dl {
  margin: 0.26667rem 0.26667rem;
}

section .swiper-container .swiper-slide .con .div dl dt > img {
  width: 2.66667rem;
  height: 4rem;
}

section .swiper-container .swiper-slide .con .div dl dd {
  font-size: 0.34667rem;
}

footer {
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
  width: 100%;
  height: 1.33333rem;
  border-top: 1px solid #ccc;
}

footer dl {
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  display: -webkit-flex;
  /* NEW - Chrome */
}

footer dl dt i.icon {
  font-size: 0.4rem;
}

footer dl dd {
  font-size: 0.32rem;
}

footer dl:nth-child(2) {
  color: red;
}

.mark {
  width: 0;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transition: all 1s;
}
